p {
  align-content: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}

.App {
  height: 100vh;
}

p > span {
  opacity: 0.8;
  text-align: center;
}

.item > .image {
  float: left;
  vertical-align: center;
  width: 30px !important;
  max-height: 30px !important;
  object-fit: contain;
}
.ui.header, .atk, .chart {
  text-align: center;
}

.ui.fluid.input > input {
  text-align: center;
}

.chart {
  width: 100px;
}